header, nav, section, aside, footer{
    display: block;
  }
  
  /* CAROUSEL */
  
  body {font-family: 'Roboto'; margin:0; font-weight: bold;}
  
  
  .topHeader{
    margin-top: -16px;
    background-color: #30271C;
    font-family: 'Calibri';
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 1px;
    font-size: 15px;
    color: #d6d6d6;
    height: 45px;
  }
  
  .topHeader p{
    margin-left: 2%;
  }
  
  
  
  /* Nav */
  nav {width: 100%; text-align: right; background-color: #FFF; margin: -1% 0% 2% -1%;}
  nav img{float: left; width: 15%; height: 15%; margin-top: -2%; margin-left: 2%;}
  nav ul {list-style-type: none;}
  nav li {display: inline; padding-left: 5%;}
  a {color: #000; text-decoration: none; margin-top: 10px; font-size: 14px;}
  a:active, a:hover {color: #c7a17a;}

  
#wrap{
    width: 90%;
    margin: 10px auto;
}

#wrap h1{
    font-family: 'Libre Caslon Display', serif;
    /* font-size: 17px; */
    font-weight: normal;
    /* font-style: italic; */
    color: #C7A17A;
    margin: 6% 2% 6% 2%;
}

#wrap section {
    float: left;
    width: 45%;
    margin: 1%;
    padding: 1%;
}

#wrap section img{
    width: 90%;
    height: 90%;
}

#wrap section a:hover{
    opacity: 0.7;
}

#wrap section p{
    font-family: 'Libre Caslon Display', serif;
    font-size: 17px;
    /* font-weight: normal; */
    font-style: italic;
    color: #C7A17A;
    margin-top: -2%;
}

  

  
  
  footer {
    clear: both;
    overflow: hidden;
    margin-top: 20%;
    background-image: url('../imgs/footer-edited.jpg');
    background-size: cover;
    /* opacity: 0.8; */
  }
  
  footer section{
    width: 90%;
    margin: 10px auto;
    margin-top: 5%;
    margin-bottom: 35%;
  }
  
  footer section div {
    float: left;
    width: 20%;
    margin: 1%;
    padding: 1%;
    font-size: 15px;
    color: white;
    font-weight: normal;
  
  }
  
  .blog-views{
    font-family: 'Libre Caslon Display', serif;
    font-size: 15px;
    font-weight: normal;
    font-style: italic;
    color: #C7A17A;
    /* margin: -1% 0% -1% 0%; */
  }
  
  .post-line{
    border-bottom: 1px solid rgba(168,164,161,.25);
    /* margin: -1% 0% -1% 0%; */
  }
  
  .address{
    color: #767573;
  }
  
  footer section div a{
    color: #fff;
  }
  
  #closed{
    color: #C7A17A;
  }
  
  th, td {
    font-weight: normal;
    text-align: left; 
  }
  
  td{
    color: #767573;
  }
  
  
  
  
  
  
  
  .bottom-footer {
    background: #000;
    color: #666;
    /* height: 40px; */
    font-size: 15px;
    padding: 2% 2% 2% 2%;
    border-top: 1px solid #2b2a2a;
    margin: 0;
    list-style: none;
    display: flex;
  }
  
  .space-between { 
    justify-content: space-between; 
  }  
  













/* MEDIA QUERIES */
/* Pixel 2 XL (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  
    /* Top Header */
    .topHeader{
        margin-top: -16px;
        background-color: #30271C;
        font-family: 'Calibri';
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 1px;
        font-size: 10px;
        color: #d6d6d6;
        height: 35px;
    }
    
    .topHeader p{
        margin-left: 2%;
    }
    /* Top Header */
    
    
    /* Nav */
    nav {width: 100%; text-align: right; background-color: #FFF; margin: -8% 0% 2% -1%;}
    nav img{float: left; width: 15%; height: 15%; margin-top: 0%;}
    nav ul {list-style-type: none;}
    nav li {display: inline; }
    a {color: #000; text-decoration: none; font-size: 9px;}
    a:active, a:hover {color: #c7a17a;}
    /* Nav */
    
    
    
#wrap{
    width: 90%;
    margin: 10px auto;
}

#wrap h1{
    font-family: 'Libre Caslon Display', serif;
    font-size: 17px;
    font-weight: normal;
    /* font-style: italic; */
    color: #C7A17A;
    margin: 6% 2% 6% 2%;
}

#wrap section {
    float: left;
    width: 100%;
    margin: 1%;
    padding: 1%;
}

#wrap section img{
    width: 90%;
    height: 90%;
}

#wrap section h3{
    font-size: 15px;
}

#wrap section a:hover{
    opacity: 0.7;
}

#wrap section p{
    font-family: 'Libre Caslon Display', serif;
    font-size: 14px;
    /* font-weight: normal; */
    font-style: italic;
    color: #C7A17A;
        
}
    
    
/* Footer 1 */
footer {
    display: none;
}



.bottom-footer {
    background: #000;
    color: #666;
    height: 20px;
    font-size: 10px;
    padding: 2% 2% 3% 2%;
    border-top: 1px solid #2b2a2a;
    margin: 0;
    list-style: none;
    display: flex;
}

.space-between { 
    justify-content: space-between; 
}  

/* Footer 1 */


}




  /* Small devices iPad Pro(portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 1024px) {

    
#wrap{
    width: 90%;
    margin: 10px auto;
}

#wrap h1{
    font-family: 'Libre Caslon Display', serif;
    /* font-size: 17px; */
    font-weight: normal;
    /* font-style: italic; */
    color: #C7A17A;
    margin: 6% 2% 6% 2%;
}

#wrap section {
    float: left;
    width: 45%;
    margin: 1%;
    padding: 1%;
}

#wrap section img{
    width: 90%;
    height: 90%;
}

#wrap section a:hover{
    opacity: 0.7;
}

#wrap section p{
    font-family: 'Libre Caslon Display', serif;
    font-size: 17px;
    /* font-weight: normal; */
    font-style: italic;
    color: #C7A17A;
    margin-top: -2%;
}   
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #wrap{
        width: 90%;
        margin: 10px auto;
    }
    
    #wrap h1{
        font-family: 'Libre Caslon Display', serif;
        /* font-size: 17px; */
        font-weight: normal;
        /* font-style: italic; */
        color: #C7A17A;
        margin: 6% 2% 6% 2%;
    }
    
    #wrap section {
        float: left;
        width: 45%;
        margin: 1%;
        padding: 1%;
    }
    
    #wrap section img{
        width: 90%;
        height: 90%;
    }
    
    #wrap section a:hover{
        opacity: 0.7;
    }
    
    #wrap section p{
        font-family: 'Libre Caslon Display', serif;
        font-size: 17px;
        /* font-weight: normal; */
        font-style: italic;
        color: #C7A17A;
        margin-top: -2%;
    }
}